 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}
main {
	width: 960px;
	margin: 50px auto;
}
.step-box1 {
	float: left;
	width: 300px;
	margin-right: 30px;
	padding: 10px;
	position: relative;
	background-color: #eeeeee;
}
.blog-image1 {
	height: 150px;
  padding: 10px;
  background-image: url(img/flow01.png);
	background-position: bottom;
	background-size: cover;
}
.step-box2 {
  float: left;
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eeeeee;
}
.blog-image2 {
	height: 150px;
  padding: 10px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}
.step-box3 {
  float: left;
  width: 300px;
  margin-right: 0;
  padding: 10px;
  position: relative;
  background-color: #eeeeee;
}
.blog-image3 {
  height: 150px;
  padding: 10px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step-num {
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #ffffff;
}

.title {
  margin: 15px 0 5px;
}
footer {
	height: 50px;
	background-color: #aaa;
}
@media screen and (max-width:768px){
  header {
    width: 100%;
  }
  main {
    width: 100%;
    margin: 50px;
  }
  .step-box1 {
    width: 90%;
    margin-bottom: 20px;
    float: none;
  }
  .step-box2 {
    width: 90%;
    margin-bottom: 20px;
    float: none;
  }
   .step-box3 {
    width: 90%;
    margin-bottom: 20px;
    float: none;
  }
}
